body {
    background-color: #f2f8fd;
    margin-top: 0;
    padding-top: 0;

}
.container{
    margin-left: 120px;
    margin-right: 370px;
}
@import 'blocks/header.scss';
@import 'blocks/menu-left.scss';
@import 'blocks/swiper.scss';
@import 'blocks/bascet.scss';
@import 'blocks/menu.scss';
